body{
    margin: 0;
    font-family: sans-serif;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #04e8ff;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}